.container {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .left-panel {
    padding: 4rem;
    .header {
      font-size: min(7rem, 5rem);
      font-weight: 800;
    }
    .description {
      font-size: min(2rem, 1.5rem);
    }
  }
  .right-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    .image-show-first {
      padding: 0.5rem;
      transform: rotate(-4deg);
    }
    .image-show-second {
      padding: 0.5rem;
      transform: rotate(3deg);
    }
    .images {
      width: min(50rem, 28rem);
      height: min(70rem, 55rem);
    }
  }
  @media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
    .images {
      width: min(30rem, 13rem);
      height: min(45rem, 30rem);
    }
    .header {
      font-size: min(9rem, 8rem);
      font-weight: 800;
    }
    .description {
      font-size: min(4rem, 2.5rem);
    }
  }
  @media only screen and (max-width: 1377px) {
    /*Big smartphones [426px -> 600px]*/
    .right-panel {
      display: none !important;
    }
    .header {
      font-size: min(11rem, 10rem);
      font-weight: 800;
    }
    .description {
      font-size: min(6rem, 4.5rem);
    }
    .container {
      background-image: url('../../public/assets/background.jpg');
      position: relative;
      height: 100vh;
      width: 100%;
      background-size: cover;
    }
  }
  @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
    .right-panel {
      display: none !important;
    }
    .header {
      font-size: min(13rem, 12rem);
      font-weight: 800;
    }
    .description {
      font-size: min(8rem, 6.5rem);
    }
    .container {
      background-image: url('../../public/assets/background.jpg');
      position: relative;
      height: 100vh;
      width: 100%;
      background-size: cover;
    }
  }
}
