.mailing-list {
    flex: 1;
    display: flex;
    justify-content: center;
    width: max(100%, 100vw);
    background-color: #000;
    align-items: center;
    flex-direction: column;
    padding: 20rem;
    box-sizing: border-box;
    .header {
        padding: 4rem;
        h3 {
            color: #fff;
        }
    }
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .form-group {
            padding: 0.5rem;
            .form-control {
                width: 40rem;
                height: 3rem;
            }
        }
    }
      @media only screen and (max-width: 882px) {
        /*Small smartphones [325px -> 425px]*/
        // background-color: rgb(43, 3, 43);
        width: auto;
        .header {
            padding: 5rem;
            h3 {
                color: #fff;
            }
        }
        .form-control {
            width: min(35rem, 30rem) !important;
            height: 3rem;
        }
      }
      @media only screen and (max-width: 669px) {
        /*Big smartphones [426px -> 600px]*/
        .header {
            padding: 6rem;
            h3 {
                color: #fff;
            }
        }
        .form-control {
            width: min(25rem, 20rem) !important;
            height: 3rem;
        }

      }
      @media only screen and (max-width: 669px) {
        /*Big smartphones [426px -> 600px]*/
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form-control {
            width: min(20rem, 20rem) !important;
            height: 3rem;
        }

      }
}