.mailing-list {
    flex: 1;
    display: flex;
    justify-content: center;
    width: max(100%, 100vw);
    background-color: #000;
    align-items: center;
    flex-direction: column;
    padding: 20rem;
    .header {
        padding: 4rem;
        h3 {
            color: #fff;
        }
    }
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .form-group {
            padding: 0.5rem;
            .form-control {
                width: 40rem;
                height: 3rem;
            }
        }
    }
}