@import 'bootstrap/dist/css/bootstrap.css';
@import './Navbar.scss';
@import './Home.module.scss';

// pages
@import './pages/contact.scss';

// sections
@import './sections/mailing.scss';

// utils
@import './utils/Button.scss';

* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f9f9f9f5;
    font-family: 'Source Code Pro', monospace;
}