@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import './utils/utils.scss';
@import './utils/Button.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Mono", monospace;  
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  width: 100vw;
  overflow-x: hidden;
}

#__next {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: underline;
}


.cookie-consent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 254);
    padding: 3rem;
    margin: 0rem 10rem;
    border-radius: 2rem;
    position: sticky;
    top: 0;
    .cookie-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}

@import './navbar';
@import './pages/home';
@import './pages/contact.scss';