nav {
  width: 100vw !important;
  .navbar-item {
      text-decoration: underline;
      .button.is-link {
          border: 0px solid #fff;
          background-color: transparent;
          color: #31004a;
      }
      .button {
          background-color: #31004a;
          color: #fff;
          text-decoration: none !important;
      }
      img {
          max-height: 2.75rem;
          border-radius: 1rem;
      }
      &:hover {
          cursor: pointer;
      }
  }
}