.navbar {
  background-color: rgb(255, 255, 255);
  height: 8rem;
  width: 100vw;
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .img {
      border-radius: 4rem;
    }
  }
}
.navbar .container-fluid .navbar-collapse {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100px !important;
}
