.navbar {
    background-color: #fff;
    height: 8rem;
    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem;
        .img {
            border-radius: 4rem;
        }
    }
}